@using MVC_StokTakip.Models.Entity
@model List<Sepet>

@{
    ViewBag.Title = "HepsiniSatinAl";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h5>Hepsibi satın al</h5>
</div>

<div class="container">
    @{
        MVC_StokTakipEntities db = new MVC_StokTakipEntities();
        var username = User.Identity.Name;
        var model = db.Kullanicilar.FirstOrDefault(x => x.KullaniciAdi == username);
        var adsoyad = model.AdiSoyadi;
    }
    <h4>Merhaba Sayın <label class="text-danger">@adsoyad</label>Satın alma Sayfasına Hoşgeldiniz</h4>
    <hr />



</div>

@using (Html.BeginForm("HepsiniSatinAl2", "Satislar", FormMethod.Post, new { @class = "container" }))
{

    foreach (var item in Model)
    {
        <div class="container">
            <div class="form-group">
                <h5>ID:@Html.DisplayFor(x => item.ID)</h5>
            </div>
            <div class="form-group">
                Ürün Adı:@Html.DisplayFor(x => item.Urunler.UrunAdi)
            </div>
            <div class="form-group">
                Barkod No:@Html.DisplayFor(x => item.Urunler.BarkodNo)
            </div>
            <div class="form-group">
                Miktarı:@Html.DisplayFor(x => item.Miktari)
            </div>
            <div class="form-group">
                Birimi:@Html.DisplayFor(x => item.Urunler.Birimler.Birim)
            </div>
            <div class="form-group">
                Fiyatı:@Html.DisplayFor(x => item.AlisFiyatı)
            </div>
            <div class="form-group">
                <h5 class="text-danger"> Barkod No:@Html.DisplayFor(x => item.ToplamFiyati)</h5>
            </div>
            <hr />
        </div>

    }










<div class="container">

    <div><h5 class="text-danger text-center">@ViewBag.Tutar</h5></div>
    <div class="form-group" style="float:left">
        <button class="btn btn-success">Onay</button>
    </div>
    <div>
        <a href="/Sepet/Index" class="btn btn-dark" style="float:right">İptal</a>
    </div>
</div>
}